@model Entidades.Persona

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>
<br />

<div>
    <h5>Datos De La Persona</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("NOMBRES")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("APELLIDOS")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("CORREO")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("CIUDAD RESIDENCIA")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Objeto_Ciudad.Nombre)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayName("FOTOGRAFIA")
        </dt>
        <dd class="col-sm-10">
            @{
                string ImagenBase64 = "";
                if (Model.Fotografia != null && Model.Fotografia.Length > 0)
                {
                    string Cadena_Imagen = Convert.ToBase64String(Model.Fotografia);
                    ImagenBase64 = "data:image/jpeg;base64," + Cadena_Imagen;
                }
                if (ImagenBase64.Trim().Length > 0)
                {
                    <img id="VistaImagenPersona" src="@ImagenBase64" style="max-width:150px; max-height:200px" />
                }
                else
                {
                    <img id="VistaImagenPersona" src="~/img/defecto.jpg" style="max-width:150px; max-height:150px" />
                }
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("EDITAR", "Edit", new {  id = Model.IdPersona  }) |
    <a asp-action="Index">CANCELAR</a>
</div>
