@model IEnumerable<Entidades.Persona>

@{
    ViewData["Title"] = "Index";
}

<h1>Registro De Personas</h1>
<br />

<p>
    <a asp-action="Create">Registrar Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("NOMBRES")
            </th>
            <th>
                @Html.DisplayName("APELLIDOS")
            </th>
            <th>
                @Html.DisplayName("EMAIL")
            </th>
            <th>
                @Html.DisplayName("CIUDAD RESIDENCIA")
            </th>
            <th>
                @Html.DisplayName("FOTOGRAFIA")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Objeto_Ciudad.Nombre)
                </td>
                <td>
                    @{
                        // Es La Imagen En Base64
                        string Imagen_Mostar = "";

                        if (item.Fotografia != null && item.Fotografia.Length > 0)
                        {
                            string Cadena_Imagen = Convert.ToBase64String(item.Fotografia);
                            Imagen_Mostar = "data:image/jpeg;base64," + Cadena_Imagen;
                        }

                        if (Imagen_Mostar.Trim().Length > 0)
                        {
                            <img id="VistaImagenPersona" src="@Imagen_Mostar" style="max-width:100px; max-height:100px" />
                        }
                    }
                </td>

                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdPersona }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdPersona }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdPersona })
                </td>
            </tr>
        }
    </tbody>
</table>
